
h1 {color: blue;}

h2{color: white;
	text-align: center;
}
footer {
	background-image: linear-gradient(rgb(0, 0, 255), rgb(255, 255, 255));
	text-align: center;
    position: fixed;
    right: 0;bottom:0;left:0;
    width: 100%;
    z-index: 999;
}

h5{color:black;
background-color: white; opacity:.75;}

html, body {
   height:125%;
   background-image: linear-gradient(black, gray);
   background-size: cover;
   background-repeat:no-repeat;

}

nav{background-image: linear-gradient(rgb(0, 0, 255), rgb(255, 255, 255));}

header {background-image: linear-gradient(rgb(0, 0, 255), rgb(255, 255, 255));}


a:link {
  color: white;
}

a:visited {
  color: white;
}

a:hover {
  color: blue;
}

a:active {
  color: blue;
}

.center{
	display: block;
	margin-left: auto;
	margin-right:auto;
	width:50%;
}
.footnav {
	color: white;
	text-align: center;
	display: inline;
}

.center{
	text-align: center;
	color: white;
}
.about{
	text-align: justify;
	 margin-right: 250px;
 	 
	color: white;
}
.information{
	text-align: justify;
	 margin-right: 400px;
 	 margin-left: 400px;
	color: white;
}
.form_box{
	padding: 10px 400px;
	text-align: center;
}
.card{
	width: 30rem;
}
.container{
	padding-top: 30px;
	align-content: center;
}

.row{
		padding-top: 30px;
	align-content: center;
}
.image_game{
	padding: 50px 250px;
}
.game_info{
	font-size: 24px;
	color: white;
}